@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-user {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.bg-categories {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 120, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.bg-products {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 58, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.bg-order {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 99, 9, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
